<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form action="" method="post" >
            <label for="">FullName</label>
            <input type="text" id="name" required name="fullName">
            <label for="">email</label>
            <input type="text" id="name" required name="email">
            <label for="">Password</label>
            <input type="text" id="password" required name="password">
            <button type="submit">Submit</button>
        </form>
    </div>
    
</body>
</html>